.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 7px;

}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.table-list-custom{
    display: flex;
    margin-top: 20px;
}
.col-9{
    display: flex;
    float: right;
    margin-top: -192px;
}
.mar{
    margin-left: 15%;
    margin-right: 30px;
}

.column{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.modalStyle{
    border-width: 5px;
    border-color: #5c635c;
}
