.header-black {
    background-color: black;
}

.login-label {
    text-align: right;
}
.background-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: flex-start;
}
.background-container::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    opacity: .4;
    background: url('./../../assets/airport-transfers-page-1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-top: 135px;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.justify-content{
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 130px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.form-header {
    display: flex;
    flex: 1;
}
.register-text {
    flex: 0.7;
    font-size: 18px;
    margin-top: 108px;
    font-weight: normal;
    color: white;
    align-self: center;
    opacity: 0.6;
    font-family: "Bahnschrift";
    text-align: center;
    vertical-align: center;
}

.vt-logo {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.errorMessage {
    font-size: 0.65em;
    color: red;
    margin-left: 3%;
}

.error {
    border: 10px solid red;
}